# ===== Python cache =====
__pycache__/
*.pyc

# ===== Virtual environments =====
venv/
.env/

# ===== Local test files =====
Image.jpg
*.jpg
*.png
*.jpeg

# ===== Datasets (NEVER push) =====
Data/
model/Data/

# ===== OS junk =====
.DS_Store
Thumbs.db
